:root {
  /* Colors */
  --primary: #ffffff;
  --secondary: #61dafb;
  --dark: #282c34;
}


/* Ultility */
.txt-light { color: var(--primary); }
.absolute { position: absolute; }
.flex { display: flex; }
.col { flex-direction: column; }

.txt-wrap { text-wrap: wrap; }
.txt-center { text-align: center; }
.align-center { align-items: center; }
.justify-center { justify-content: center; } 

.m1 { margin: 1rem; }


/* Component */
.card {
  min-width: 400px;
  min-height: 250px;
  background: rgb(from var(--secondary) r g b / 75%);
  bottom: 0;
  margin: 3rem;
  border: 3px solid var(--primary);
  border-radius: 45px;
}

.card p {
  font-size: 1.25rem;
}

.fade-in-text {
  font-size: 3rem;
  animation: fadeIn 5s;
}

.title {
  font-size: 5rem;
  margin: 0 12rem 15rem 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dark);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--primary);
}

.App-link {
  color: var(--secondary);
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
    font-size: 1rem;
  }
  100% { 
    opacity: 1; 
    font-size: 3rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
